openapi: 3.0.0
info:
  title: Abler API
  description:
    $ref: description.md
  version: 1.0.0
servers:
  - url: 'https://empresa.abler.com.br/api/public/v1'
tags:
  - name: Clientes
    description: Rotas relacionadas aos clientes de sua empresa
  - name: Vagas
    description: Rotas relacionadas as vagas de sua empresa
  - name: Webhook Subscriptions
    description: Rotas relacionadas aos webhooks subscriptions
paths:
  /customers:
    $ref: paths/customers/index.yaml  
  /customers/{id}:
    $ref: paths/customers/show.yaml
  /vacancies:
    $ref: paths/vacancies/index.yaml
  /vacancies/{id}:
    $ref: paths/vacancies/resources.yaml        
  /vacancies/{id}/candidates:
    $ref: paths/vacancies/candidate.yaml
  /vacancies/{id}/candidates/{candidate_id}:
    $ref: paths/vacancies/candidates.yaml
  /subscriptions:
    $ref: paths/webhook_subscriptions/index_create.yaml
  /subscriptions/{id}:
    $ref: paths/webhook_subscriptions/resources.yaml  
components:
  securitySchemes:
    BearerToken:
      $ref: "./components/securitySchemes/BearerToken.yaml"
  schemas: 
    Customer:
      $ref: "./components/models/customer.yaml"
    Address:
      $ref: "./components/models/address.yaml"
    CustomerContact:
      $ref: "./components/models/customer_contact.yaml"
    Candidate:
      $ref: "./components/models/candidate.yaml"
    Vacancy:
      $ref: "./components/models/vacancy.yaml"
    Pipeline:
      $ref: "./components/models/pipeline.yaml"
    Relationship:
      $ref: "./components/models/relationship.yaml" 
    Team:
      $ref: "./components/models/team.yaml" 
    AreaOfFormation:
      $ref: "./components/models/area_of_formation.yaml"
    LevelOfInterest:
      $ref: "./components/models/level_of_interest.yaml"
    OccupationArea:
      $ref: "./components/models/occupation_area.yaml"
    AreaOfInterest:
      $ref: "./components/models/area_of_interest.yaml"
    Skill:
      $ref: "./components/models/skill.yaml"
    Benefit:
      $ref: "./components/models/benefit.yaml"
    VacanciesBenefit:
      $ref: "./components/models/vacancies_benefit.yaml"
    Language:
      $ref: "./components/models/language.yaml"
    VacanciesLanguage:
      $ref: "./components/models/vacancies_language.yaml"
    ComplementaryFormation:
      $ref: "./components/models/complementary_formation.yaml"