openapi: 3.0.0
info:
  title: Abler API
  description:
    $ref: description.md
  version: 1.0.0
servers:
  - url: 'https://empresa.abler.com.br/api/public/v1'
tags:
  - name: Clientes
    description: Rotas relacionadas aos clientes de sua empresa
  - name: Vagas
    description: Rotas relacionadas as vagas de sua empresa
  - name: Webhook Subscriptions
    description: 
      "
      Você pode se inscrever em um dos eventos disponíveis e a Abler notificará quando este evento for disparado<br>
      <ol>
        <li>Use os endpoints de webhook_subscription para registrar seu endpoint;</li>
        <li>Quando o evento for disparado, a Abler irá enviar um POST para o endpoint registrado naquele evento.</li>
      </ol>
      Lista de eventos:
      <table>
        <thead>
          <tr>
            <th>Evento</th>
            <th>Identificador</th>
            <th>Parâmetros enviados</th>            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Criação de Vaga</td>
            <td>vacancy_created</td>
            <td>{ 'vacancy_id': ID_VAGA, 'event': 'vacancy_created' }</td>
          </tr>
          <tr>
            <td>Atualização de Vaga</td>
            <td>vacancy_updated</td>
            <td>{ 'vacancy_id': ID_VAGA, 'event': 'vacancy_updated' }</td>
          </tr>
          <tr>
            <td>Exclusão de Vaga</td>
            <td>vacancy_deleted</td>
            <td>{ 'vacancy_id': ID_VAGA, 'event': 'vacancy_deleted' }</td>
          </tr>
          <tr>
            <td>Criação de Candidatura</td>
            <td>candidature_created</td>
            <td>{ 'vacancy_id': ID_VAGA, 'candidate_id': ID_CANDIDATO, 'event': 'candidature_created' }</td>
          </tr>
          <tr>
            <td>Atualização de Candidatura</td>
            <td>candidature_updated</td>
            <td>{ 'vacancy_id': ID_VAGA, 'candidate_id': ID_CANDIDATO, 'event': 'candidature_updated' }</td>
          </tr>
          <tr>
            <td>Candidato desqualificado</td>
            <td>candidature_disqualified</td>
            <td>{ 'vacancy_id': ID_VAGA, 'candidate_id': ID_CANDIDATO, 'event': 'candidature_disqualified' }</td>
          </tr>
          <tr>
            <td>Candidato requalificado</td>
            <td>candidature_requalified</td>
            <td>{ 'vacancy_id': ID_VAGA, 'candidate_id': ID_CANDIDATO, 'event': 'candidature_requalified' }</td>
          </tr>
          <tr>
            <td>Candidato contratado</td>
            <td>candidate_hired</td>
            <td>{ 'vacancy_id': ID_VAGA, 'candidate_id': ID_CANDIDATO, 'event': 'candidate_hired' }</td>
          </tr>
        </tbody>
      </table>
      <b>Obs:</b> O código de resposta deve ser <b>200</b> para confirmarmos como sucesso e não precisar reenviá-lo.
      "
paths:
  /customers:
    $ref: paths/customers/index.yaml  
  /customers/{id}:
    $ref: paths/customers/show.yaml
  /vacancies:
    $ref: paths/vacancies/index.yaml
  /vacancies/{id}:
    $ref: paths/vacancies/resources.yaml        
  /vacancies/{id}/candidates:
    $ref: paths/vacancies/candidate.yaml
  /vacancies/{id}/candidates/{candidate_id}:
    $ref: paths/vacancies/candidates.yaml
  /subscriptions:
    $ref: paths/webhook_subscriptions/index_create.yaml
  /subscriptions/{id}:
    $ref: paths/webhook_subscriptions/resources.yaml  
components:
  securitySchemes:
    BearerToken:
      $ref: "./components/securitySchemes/BearerToken.yaml"
  schemas: 
    Customer:
      $ref: "./components/models/customer.yaml"
    Address:
      $ref: "./components/models/address.yaml"
    CustomerContact:
      $ref: "./components/models/customer_contact.yaml"
    Candidate:
      $ref: "./components/models/candidate.yaml"
    Vacancy:
      $ref: "./components/models/vacancy.yaml"
    Pipeline:
      $ref: "./components/models/pipeline.yaml"
    Relationship:
      $ref: "./components/models/relationship.yaml" 
    Team:
      $ref: "./components/models/team.yaml" 
    AreaOfFormation:
      $ref: "./components/models/area_of_formation.yaml"
    LevelOfInterest:
      $ref: "./components/models/level_of_interest.yaml"
    OccupationArea:
      $ref: "./components/models/occupation_area.yaml"
    AreaOfInterest:
      $ref: "./components/models/area_of_interest.yaml"
    Skill:
      $ref: "./components/models/skill.yaml"
    Benefit:
      $ref: "./components/models/benefit.yaml"
    VacanciesBenefit:
      $ref: "./components/models/vacancies_benefit.yaml"
    Language:
      $ref: "./components/models/language.yaml"
    VacanciesLanguage:
      $ref: "./components/models/vacancies_language.yaml"
    ComplementaryFormation:
      $ref: "./components/models/complementary_formation.yaml"
    WebhookSubscription:
      $ref: "./components/models/webhook_subscription.yaml"
    VacancyAdmissionInfo:
      $ref: "./components/models/vacancy_admission_info.yaml"
    CandidatesPipeline:
      $ref: "./components/models/candidates_pipeline.yaml"